<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>
<body>
    
    <div class="jumbotron">
    <h1>Mission to Mars</h1>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Scrape New Data</a></p>
    </div>

    <div class="container">
            <div class="row">
              <h2>Latest Mars News</h2>
              <h3>{{ data.news_title }}</h3>
              <p>{{ data.news_p }}</p>
            </div>
        
            <div class="row">
              <div class="col-md-8">
                <h2>Featured Mars Image</h2>
                <img src = "{{ data.featured_image_url }}" alt="featured_image_url" width="100%">
              </div>
              <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Current Weather on Mars</div>
                    <div class="panel-body">
                      {{ data.mars_weather }}
                    </div>
                  </div>
              </div>
              <h4>Mars Facts</h4>
              {{data.html_table | safe}}
            </div>
          </div>
          <div class="container text-center">
            <div class="row">
              <h2>Mars Hemispheres</h2>
              <hr>
              {% for hemi in data.hemisphere_image_urls %}
              <div class="col-md-6">
              <div class="panel panel-default">
                  <div class="panel-body">
                  <img src="{{ hemi.img_url }}", alt="hemisphere_image" width="80%">
                  </div>
                <div class="panel-footer">{{ hemi.title }}</div>
              </div>
              </div>
              {% endfor %}
            </div>
          </div>
    
</body>
</html>